/** Modificación de Titulos
*/

h1 {
	font-family: 'Merienda One', cursive;
	font-size: 50px;
	font-weight: bold;
	display: inline-block;
}


.info-personal {
	font-family: 'Lilita One', cursive;
	font-weight: bold;
	display: inline-block;
	color:rgb(20, 2, 61);

}

.info-experiencia {
	font-family: 'Baloo 2', cursive;
	font-weight: bold;
	display: inline-block;
	color:rgb(5, 54, 129);

}
